{% extends 'base.html.twig' %}

<div class="col-md-7">
    <div class="page-content">
        <h2>Contact </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat.</p>
        <form class="form-style form-style-3 form-style-5 form-js" action="{{ path('inscrit') }}" method="post">
            <div class="form-inputs clearfix">
                <p>
                    <label for="name" class="required">Pseudo<span>*</span></label>
                    <input type="text" class="required-item" value="" name="name" id="name" aria-required="true">
                </p>
                <p>
                    <label for="mail" class="required">Mail<span>*</span></label>
                    <input type="email" class="required-item" id="mail" name="mail" value="" aria-required="true">
                </p>
            </div>
            <div class="form-textarea">
                <p>
                    <label for="message" class="required">Message<span>*</span></label>
                    <textarea id="message" class="required-item" name="message" aria-required="true" cols="58" rows="7"></textarea>
                </p>
            </div>
            <p class="form-submit">
                <input name="submit" type="submit" value="Envoyer" class="submit button small color">
            </p>
        </form>
    </div><!-- End page-content -->
</div><!-- End col-md-6 -->