{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="new-user" style="background-color: #e6e6e6">
                <h2>Contacts </h2>
                <p></p>

            </div><!-- End page-content -->
        </div><!-- End col-md-6 -->
    </div>
{% endblock %}