{% extends "base.html.twig" %}

{% block body %}
    <div>
        <div style="background-color: white">
            <p class="titreG" style="font-size: large"><strong>Bienvenue sur notre site d'inscription en ligne à des compétitions de motocross en UFOLEP
                Pays de Loire !!!</strong></p>

            <img src="{{ asset('images/font.jpg') }}" alt="En Construction" style="width: 100%">
        </div>
    </div>
{% endblock %}
