{% extends 'base.html.twig' %}

<section style="alignment: center">
    <div class="row">
        <div class="col-md-6">
            <div class="page-content">
                <div class="boxedtitle page-title"><h2><strong>Ajout Moto</strong></h2></div>
                <div class="form-style form-style-4">
                    <form action="{{ path('/profil') }}" method="post">
                        <div class="form-inputs clearfix">
                            <p>
                                <label>Numéro Cadre :<span>*</span></label>
                                <input type="text">
                            </p>
                            <p>
                                <label>Numéro Moteur :<span>*</span></label>
                                <input type="text">
                            </p>
                            <p>
                                <label>Marque :<span>*</span></label>
                                <input type="text">
                            </p>
                            <p>
                                <label>Cylindré :<span>*</span></label>
                                <input type="text">
                            </p>
                        </div>
                        <p class="form-submit">
                            <input type="submit" value="Valider" class="button color small login-submit submit">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>