{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <div class="new-Moto" style="background-color: #e6e6e6">
                <h1 class="titreG">Ajouter une Moto</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}<br>
                <input type="submit" value="Ajouter"/>
                {{ form_end(form) }}
                <br>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('user_show', { 'id': app.user.id }) }}" class="bouton-relief">Retour au
                            Profil</a></li>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
