table {
    font-family: Arial;
    margin: 80px;
    width: auto;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    font-size: large;
}

td {
    border: 3px solid #DEDEDE;
    width: 100px;
}

th {
    font-weight: bold;
    border: 3px solid #DEDEDE;
}

.new-Membre {
    cursor: auto;
    font-family: Arial;
    margin: 50px;
    padding: 20px;
    border: 1px solid #DEDEDE;
}

.form-style .form-style-4 {

}

.connexion {
    margin: 50px;
    padding: 20px;
    border: 3px solid #DEDEDE;
}

#image-febvre {
    height: 100%;

}
