table {
    font-family: Arial;
    margin: 80px;
    width: auto;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    font-size: large;
}

td {
    border: 3px solid #DEDEDE;
    width: 100px;
}

th {
    font-weight: bold;
    border: 3px solid #DEDEDE;
}

.new-user {
    cursor: auto;
    margin: 50px;
    padding: 20px;
    border: 1px solid #DEDEDE;
}

.form-style .form-style-4 {

}

.connexion, .new-Moto, .new-resultat {
    margin: 50px;
    padding: 20px;
    border: 3px solid #DEDEDE;
}

#image-febvre {
    height: 100%;

}

.new-inscription, .new-categorie {
    padding: 20px;
}

body {
    background: url("/images/font2.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.categorie {
    width: 150px;
    margin: 20px;
}

.titreG {
    font-family: "Roboto";
    text-align: center;
}

a.bouton-relief {
    color: white;
    background-color: #000080;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 2px outset #c0c0c0;
}

a.bouton-relief:hover {
    background-color: #6495ED;
    border: 2px inset #c0c0c0;
}

/*.new-categorie {*/
/*font-family: Arial;*/
/*padding: 20px;*/
/*}*/

.new-Moto {
    margin: 40px;
    padding: 20px;
    border: 3px solid #DEDEDE;
}
